<assessment-footer class="ng-isolate-scope">
  <footer id="brandedFooter" class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="trust-logos">
            <div class="block listed">
              <a ng-href="https://onlinedoctor.superdrug.com/regulation.html" target="_blank" rel="noopener noreferrer" href="https://onlinedoctor.superdrug.com/regulation.html"><img height="36" src="assets/images/care-quality.png" title="Care Quality Commission" alt="Care Quality Commision Logo"> </a>
              <a ng-if="::$ctrl.showPharmacyRegistration" ng-href="http://www.pharmacyregulation.org/registers/pharmacy/registrationnumber/
        1035495" target="_blank" rel="noopener noreferrer" class="ng-scope" href="http://www.pharmacyregulation.org/registers/pharmacy/registrationnumber/&#10;          1035495"><img height="36" ng-src="assets/images/1035495.gif" title="Registered Pharmacy" alt="Registered Pharmacy Logo" src="assets/images/1035495.gif"></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="copyright">
            <p><img ng-src="assets/images/payment-methods.png" title="Payment Methods" alt="Payment Methods Images" src="assets/images/payment-methods.png"></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12">
          <p><a ng-href="https://onlinedoctor.superdrug.com/privacy.html" target="_blank" rel="noopener noreferrer" translate="" href="https://onlinedoctor.superdrug.com/privacy.html"><span class="ng-scope">Privacy and Cookie Policy</span></a>&nbsp;|
            <a ng-href="https://onlinedoctor.superdrug.com/terms.html" target="_blank" rel="noopener noreferrer" translate="" href="https://onlinedoctor.superdrug.com/terms.html"><span class="ng-scope">Terms and Conditions</span></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</assessment-footer>
