<header id="brandedHeader" class="site-header">
  <nav class="navbar navbar-default ng-scope navbar-fixed-top" role="navigation" ng-class="::{'navbar-fixed-top': appConfig.site === 'sd'}" ng-if="appConfig.site !== 'zava'">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="assets/images/sd.png" alt="logo">
      </a>
      <a class="navbar-phone" href="tel:02035880293"><i class="fa fa-phone hidden-xs"></i> 020 3588 0293 </a>
      <a class="navbar-user" href="https://onlinedoctor.superdrug.com//account/"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
  </nav>
  <div class="debug">
	<input type="submit" value="Debug" ng-click="ghostInputter()" />
  </div>
</header>
