<div id="chooseTreatment" class="staticPages treatments">

    <div class="row">
        <header class="steps-navigation qa-steps-navigation steps-navigation-push-down">
            <div class="title assessmentHeader"></div>
            <ol class="stepslist">
                <li class="stepitem steps">Assessment<br><small></small></li>
                <li class="stepitem -active">Choose treatment</li>
                <li class="stepitem">Your Order</li>
                <li class="stepitem">Payment</li>
            </ol>
        </header>
    </div>            
          
    <div class="delivery-header"><span>Delivery options</span></div>
        <h1>Choose treatment</h1>
        <!--a href="#" onclick="confirmTreatment()" class="viagra"><span>Viagra - order now</span></a>
        <a href="#" onclick="confirmTreatment()" class="sildenafil"><span>Sildenafil - order now</span></a>
        <a href="#" onclick="confirmTreatment()" class="cialis"><span>Cialis - order now</span></a>
        <a href="#" onclick="confirmTreatment()" class="tadalafil"><span>Tadalafil - order now</span></a>
        <a href="#" onclick="confirmTreatment()" class="levitra"><span>Levitra - order now</span></a>
        <a href="#" onclick="confirmTreatment()" class="spedra"><span>Spedra - order now</span></a>
        <a href="#" onclick="confirmTreatment()" class="penispump"><span>Penis Pump - order now</span></a>
        <br />
        <h3>Want to compare treatments? Try Viagra, Cialis and Levitra with our Trial Pack</h3>
        <a href="#" onclick="confirmTreatment()" class="trialpack"><span>Trial Pack - order now</span></a>
        <br />
        <h3>Need help choosing a treatment? Get advice from one of our doctors</h3>
        <a href="#" onclick="confirmTreatment()" class="consultation"><span>Telephone consultation with a Doctor - order now</span></a-->
    
        <div class="product-chooser">
            <table class="table table-greyBg">
                <tbody>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Viagra</span>
                            <div class="small">50mg (4 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£30.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Viagra</span>
                            <div class="small">50mg (8 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£50.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Viagra</span>
                            <div class="small">50mg (12 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£70.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Viagra</span>
                            <div class="small">50mg (16 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£85.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Viagra</span>
                            <div class="small">50mg (28 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£125.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Sildenafil</span>
                            <div class="small">50mg (4 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£24.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Sildenafil</span>
                            <div class="small">50mg (8 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£40.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Sildenafil</span>
                            <div class="small">50mg (12 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£56.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Sildenafil</span>
                            <div class="small">50mg (16 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£68.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Sildenafil</span>
                            <div class="small">50mg (28 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£90.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Cialis</span>
                            <div class="small">10mg (4 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£44.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Cialis</span>
                            <div class="small">10mg (8 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£84.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Cialis</span>
                            <div class="small">10mg (12 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£120.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Cialis</span>
                            <div class="small">10mg (16 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£152.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Cialis</span>
                            <div class="small">10mg (28 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£265.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Tadalafil</span>
                            <div class="small">10mg (4 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£30.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Tadalafil</span>
                            <div class="small">10mg (8 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£50.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Tadalafil</span>
                            <div class="small">10mg (12 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£65.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Tadalafil</span>
                            <div class="small">10mg (16 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£85.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Tadalafil</span>
                            <div class="small">10mg (28 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£140.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Levitra</span>
                            <div class="small">10mg (4 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£45.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Levitra</span>
                            <div class="small">10mg (8 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£75.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Levitra</span>
                            <div class="small">10mg (12 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£100.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Levitra</span>
                            <div class="small">10mg (16 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£125.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Spedra</span>
                            <div class="small">100mg (4 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£49.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Spedra</span>
                            <div class="small">100mg (8 tablets)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£89.00</span>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Penis Pump</span>
                            <div class="small"></div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£155.00</span>
                        </td>
                    </tr>
                </tbody>
            </table>
    
            <p class="treatmentSubhead">Want to compare treatments? Try Viagra, Cialis and Levitra with our Trial Pack</p>
    
            <table class="table table-greyBg">
                <tbody>
                    <tr class="product-row">
                        <td class="selector">
                            <input name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Trial Pack</span>
                            <div class="small">4 tablets 50mg Viagra® + 4 tablets 10mg Levitra® + 4 tablets 10mg Cialis®</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£100.00</span>
                        </td>
                    </tr>
                </tbody>
            </table>
    
            <p class="treatmentSubhead">Need help choosing a treatment? Get advice from one of our doctors</p>
    
            <table class="table table-greyBg">
                <tbody>
                    <tr class="product-row">
                        <td class="selector">
                            <input id="radioPhone" name="selected" class="qa-select-product" type="radio">
                        </td>
                        <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Telephone Consultation with a Doctor (does not include prescription medication): Available 4-5pm Tues, Wed, Thurs</span>
                            <div class="small">(Only Phone consultation)</div>
                            </span>
                        </td>
                        <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                        </td>
                        <td class="price">
                            <span class="price">£25.00</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <hr>
        <div class="row">
            <div class="col-xs-6 col-sm-3 ng-scope col-xs-push-6 col-sm-push-9">
                <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-block">Order</a>
            </div>
            <div class="col-xs-6 col-sm-2 col-xs-pull-6 col-sm-pull-3 btnSize">
                <!--a href="#" onclick="confirmTreatment()" class="bs2 btn btn-default btn-block">Back</a-->
            </div>
        </div>
    </div>
    
    <div id="reviewConfirmation" class="staticPages thankYou hide">
        <div ng-include src="'partials/thank-you.html'" ></div>

        <div class="row">
            <div class="col-xs-6 col-sm-3 ng-scope col-xs-push-6 col-sm-push-9">
                <a href="#" onclick="toggleIntermediatePages()" class="bs2 btn btn-success btn-block">Complete order</a>
            </div>
            <div class="col-xs-6 col-sm-2 col-xs-pull-6 col-sm-pull-3 btnSize">
                <a href="#" onclick="confirmTreatment('backFromReviewConfirmation')" class="bs2 btn btn-default btn-block">Back</a>
            </div>
        </div>
    </div>
    
    <div id="telephoneConsultation" class="staticPages phoneConsultation hide">
        <div ng-include src="'partials/telephone-consultation.html'" ></div>

        <div class="row">
            <div class="col-xs-6 col-sm-3 ng-scope col-xs-push-6 col-sm-push-9">
                <!--a href="#" onclick="toggleIntermediatePages()" class="bs2 btn btn-success btn-block">Complete order</a-->
            </div>
            <div class="col-xs-6 col-sm-2 col-xs-pull-6 col-sm-pull-3 btnSize">
                <a href="#" onclick="confirmTreatment('backFromTelephoneConsultation')" class="bs2 btn btn-default btn-block">Back</a>
            </div>
        </div>
    </div>
    <script type="text/javascript-lazy" src="scripts/script.js"></script>