<div id="chooseTreatment" class="staticPages treatments">

    <div class="row">
        <header class="steps-navigation qa-steps-navigation steps-navigation-push-down">
            <div class="title assessmentHeader"></div>
            <ol class="stepslist">
                <li class="stepitem steps">Assessment<br><small></small></li>
                <li class="stepitem -active">Choose treatment</li>
                <li class="stepitem">Your Order</li>
                <li class="stepitem">Payment</li>
            </ol>
        </header>
    </div>            
          
    <div class="delivery-header"><span>Delivery options</span></div>
    <h1>Choose treatment</h1>
    <div class="product-chooser">
        <table class="table table-greyBg">
            <tbody>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Brevinor®</span>
                        <div class="small">35mcg (3 x 21 tablets)	</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Cerelle</span>
                        <div class="small">75mcg (3 × 28-tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£19.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Cerazette ®</span>
                        <div class="small">75mcg (3 × 28-tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£27.50</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Cilest®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Femodene®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£27.50</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Femodene® ED</span>
                        <div class="small">(3 x 28 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£27.50</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Femodette®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£27.50</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Gedarel® 20/150</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Gedarel® 30/150</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Katya 30/75</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Levest®</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Loestrin 20®</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Loestrin 30®</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Logynon ED®</span>
                        <div class="small">(3 x 28 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Logynon®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Marvelon®</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Mercilon®</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Microgynon 30 ED®</span>
                        <div class="small"> (3 x 28 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Microgynon 30®</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Millinette® 20/75</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Millinette® 30/75</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Norimin®</span>
                        <div class="small"> (6 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Norgeston®</span>
                        <div class="small">30mcg (3 x 35 tab pack)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Noriday®</span>
                        <div class="small">350mcg (3 × 28-tab pack)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Norimin®</span>
                        <div class="small"> (3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Norinyl-1®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Ovranette®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Qlaira®</span>
                        <div class="small"> (3 x 28 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£50.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Rigevidon®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Sunya 20/75®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£25.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Triadene®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£30.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>TriRegol®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Yasmin®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£29.50</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input id="radioPhone" name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Telephone Consultation with a Doctor (does not include prescription medication): Available 4-5pm Tues, Wed, Thurs</span>
                        <div class="small">(Only Phone consultation)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
                <tr class="product-row">
                    <td class="selector">
                        <input name="selected" class="qa-select-product" type="radio">
                    </td>
                    <td class="name"><span class="name"><!--i class="fa fa-info-circle text-success info"></i--> <span>Synphase®</span>
                        <div class="small">(3 x 21 tablets)</div>
                        </span>
                    </td>
                    <td class="cta">
                            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-order">Order</a>
                    </td>
                    <td class="price">
                        <span class="price">£20.00</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3 ng-scope col-xs-push-6 col-sm-push-9">
            <a href="#" onclick="confirmTreatment()" class="bs2 btn btn-success btn-block">Order</a>
        </div>
        <div class="col-xs-6 col-sm-2 col-xs-pull-6 col-sm-pull-3 btnSize">
            <!--a href="#" onclick="confirmTreatment()" class="bs2 btn btn-default btn-block">Back</a-->
        </div>
    </div>
</div>

<div id="reviewConfirmation" class="staticPages thankYou hide">
    <div ng-include src="'partials/thank-you.html'" ></div>
    
    <div class="row">
        <div class="col-xs-6 col-sm-3 ng-scope col-xs-push-6 col-sm-push-9">
            <a href="#" onclick="toggleIntermediatePages()" class="bs2 btn btn-success btn-block">Complete order</a>
        </div>
        <div class="col-xs-6 col-sm-2 col-xs-pull-6 col-sm-pull-3 btnSize">
            <a href="#" onclick="confirmTreatment('backFromReviewConfirmation')" class="bs2 btn btn-default btn-block">Back</a>
        </div>
    </div>
</div>

<div id="telephoneConsultation" class="staticPages phoneConsultation hide">
    <div ng-include src="'partials/telephone-consultation.html'" ></div>
    
    <div class="row">
        <div class="col-xs-6 col-sm-3 ng-scope col-xs-push-6 col-sm-push-9">
            <!--a href="#" onclick="toggleIntermediatePages()" class="bs2 btn btn-success btn-block">Complete order</a-->
        </div>
        <div class="col-xs-6 col-sm-2 col-xs-pull-6 col-sm-pull-3 btnSize">
            <a href="#" onclick="confirmTreatment('backFromTelephoneConsultation')" class="bs2 btn btn-default btn-block">Back</a>
        </div>
    </div>
</div>
<script type="text/javascript-lazy" src="scripts/script.js"></script>