<label for="{{ ques.questionNumber }}Y">Yes </label>
<input type="radio" value="yes" name="{{ ques.questionNumber }}" id="{{ ques.questionNumber }}Y" ng-click="revealYesNoToggle( ques.consequenceYes, ques.consequenceNo )" ng-model="inputChange" ng-change="formInputChange($event)" />

<label for="{{ ques.questionNumber }}N">No </label>
<input type="radio" value="no" name="{{ ques.questionNumber }}" id="{{ ques.questionNumber }}N" ng-click="revealYesNoToggle( ques.consequenceNo, ques.consequenceYes )" ng-model="inputChange" ng-change="formInputChange($event)" />
