        <h1 class="telephone-title">Virtual GP integrated into the Global Heathcare App by Superdrug</h1>

        <img src="assets/images/telephone/app-icon.svg" class="App-Icon">
        <img src="assets/images/telephone/powered-by-logo.svg" class="Powered-By-Logo">

        <div class="screens-wrapper">
            <img src="assets/images/telephone/screen-1.png" alt="Superdrug Global Healthcare App" srcset="assets/images/telephone/screen-1@2x.png 2x, assets/images/telephone/screen-1@3x.png 3x" class="Screen-1">
            
            <img src="assets/images/telephone/screen-2.png" alt="Book an appointment with one of our doctors" srcset="assets/images/telephone/screen-2@2x.png 2x, assets/images/telephone/screen-2@3x.png 3x"  class="Screen-2">

            <img src="assets/images/telephone/screen-3.png" alt="Speak to a doctor, trained in video consultations" srcset="assets/images/telephone/screen-3@2x.png 2x,  assets/images/telephone/screen-3@3x.png 3x"  class="Screen-3">

            <img src="assets/images/telephone/screen-4.png" alt="Get notes, specialist referrals and prescriptions" srcset="assets/images/telephone/screen-4@2x.png 2x,  assets/images/telephone/screen-4@3x.png 3x"  class="Screen-4">
        </div>
        
        <h2>As part of the consultation, GPs can:</h2>
        <ul class="phone-options">
            <li class="phone-assessment">
                <h3>View Assessments</h3>
                <p>Assessment results would be available to the GP during the virtual consultation and uploaded to the patients medical record.</p>
            </li>
            <li class="phone-prescription">
                <h3>Issue Prescriptions</h3>
                <p>GP can issue / prescribe medication at the end of the consultation, guaranteed to be fulfilled by Superdrug either in-store or by delivery.</p>
            </li>
        </ul>
