        <div class="row">
          <header class="steps-navigation qa-steps-navigation steps-navigation-push-down">
            <div class="title assessmentHeader"></div>
            <ol class="stepslist">
              <li class="stepitem steps">Assessment<br><small>Step 3 of 3</small></li>
              <li class="stepitem">Choose treatment</li>
              <li class="stepitem">Your Order</li>
              <li class="stepitem">Payment</li>
            </ol>
          </header>
        </div>
          
        <div class="benefits-header"><span>
          <ul>
            <li>A Brand You Can Trust</li>
            <li>Save Time &amp; Embarrassment</li>
            <li>Complete Confidentiality</li>
            <li>FREE Fast Delivery</li>
          </ul>
        </span></div>
        <h1>Thank you for your order</h1>
        <a href="#" onclick="toggleIntermediatePages()" class="viewAssessment">View Assessment Outcome <i class="fas fa-chevron-right"></i></a>
        <p>We have sent you an email confirmation.</p>
        <img src="assets/images/treatments/green-round-tick.png" />
    
        <a href="#" onclick="toggleIntermediatePages()" class="viewAssessment">View Assessment Outcome <i class="fa fa-angle-right"></i></a>
    
        <h2>What happens next?</h2>
        <img src="assets/images/treatments/what-happens-next.png" />
        <hr>
